{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
    {apps, [chama]}
]}.

{relx, [
    {release, {chama, "0.1.0"}, [chama, sasl]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [{mode, prod}]}
    ]}
]}.
